    </main>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About</h5>
            <p class="grey-text text-lighten-4">This is about</p>
          </div>
          <div class="col l6 s12">
            <h5 class="white-text">Contact</h5>
            <p class="grey-text text-lighten-4">Contact info</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Copyright
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
  </body>
</html>
